name: Dry publish
on:
    pull_request

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: denoland/setup-deno@v1
              with:
                  deno-version: v2
            - name: Install dependencies
              run: deno install
            - name: Dry Publish
              run: deno task dry_publish
