name: Publish package
on:
    workflow_dispatch:

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: write
            id-token: write

        steps:
            - uses: actions/checkout@v4
            - uses: denoland/setup-deno@v1
              with:
                  deno-version: v2
            - name: Install dependencies
              run: deno install
            - name: Check
              run: deno task check
            - name: Test
              run: deno task test
            - name: Publish package
              run: deno publish
            - name: Get version
              id: version
              run: echo "VERSION=$(cat ./deno.jsonc | jq -r .version)" >> "$GITHUB_OUTPUT"
            - name: Generate bundle
              run: deno task bundle
            - name: Create release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ steps.version.outputs.VERSION }}
                  target_commitish: ${{ github.ref_name }}
                  files: |
                      out/*
